* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 9px;
}

:root {
    --main-color: #001270;
    --scnd-color: #9B2E8B;
}

*::selection {
    background-color: #15151580;
    color: #F5F5F5;
}

html {
    font-size: 16px;
}

body {
    background-color: #151515;
    color: #F5F5F5;
    font-family: 'Quicksand', sans-serif;

    width: 100vw;
    height: 100vh;
    padding: 1%;
    overflow: hidden;

    display: grid;
    grid-template-columns: 20% 79%;
    grid-template-rows: 100%;
    gap: 1%;
}

main {
    border: 1px solid #FFF;
}
